.banner{
    text-align: left;
    margin-bottom: 15rem;
}
.banner img{
    width: 40%;
    height: 50rem;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 0px 1px rgba(23,32,41,0.2);
    -webkit-box-shadow: 5px 5px 0px 1px rgba(23,32,41,0.2);
    -moz-box-shadow: 5px 5px 0px 1px rgba(23,32,41,0.2);
}

.banner .banner_text{
    padding: 0 0 0 5rem;
    width: 60%;
}

.content{
    margin: 10rem 0;
}

.content .banner_text p{
    font-size: 4rem;
    font-weight: 300;
}

@keyframes GoDown {
    from{
        margin-top: 0;
    }
    to{
        margin-top: 2.5rem;
    }
}

.goDown{

    background-color: red;
    position: relative;
}

.goDown a{
    position: absolute;
    transition: all ease-in-out 1s;
}

.goDown a:hover{
    animation-name: GoDown;
    animation-duration: 1s;
    animation-iteration-count: infinite;  
    animation-direction: alternate;
} 