.footer{
    position: fixed;
    bottom: 0;
    background-color: transparent;
    width: 100%;
    height: 4rem;
    background-color: transparent;
    overflow: hidden;
}

.footer div{
    background-color: white;
    margin-top: 4rem;
    transition: all ease-in-out 0.4s;
}

.footer img{
    width: 25px;
    margin: 5px 5px;
}
