#footer{
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
}

#footer div{
    display: flex;
    justify-content: left;
    align-items: center;
}

#footer img{
    width: 25px;
    margin: 5px 5px;
}
