.container{
    margin: 0 auto;
    max-width: 1080px;
}
.content{
    font-size: 2.4rem;
}

.content img{
    width: 40rem;
    margin: 5rem 0 0 0;
    box-shadow: 5px 5px 0px 1px rgba(23,32,41,0.2);
    -webkit-box-shadow: 5px 5px 0px 1px rgba(23,32,41,0.2);
    -moz-box-shadow: 5px 5px 0px 1px rgba(23,32,41,0.2);
}

.year{
    font-size: 1.8rem;
    font-weight: 300;
}

.year_line{
    height: 0.1rem;
    width: 5rem;
    color: #172029;
    background-color: #172029;
    border-radius: 5rem;
}

.circle{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.circle div{ /* vertical line */
    position: absolute;
    height: 0.1rem;
    width: 35rem;
    margin: 0 0 -8rem -6.5rem;
    color: #172029;
    background-color: #172029;
    border-radius: 5rem;    
    transform: rotate(90deg);
    left: -9.7rem;
    bottom: -8rem;
}

.project{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .brand{
    font-size: 1.8rem;
    padding: 9rem 2rem 0 2rem;
}

.content .brand h4{
    font-weight: 500;
}

.content .brand p{
    font-weight: 400;
}

.techs img{
    padding: 0;
    margin: 0 0.5rem;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    width: 3.2rem;
}